/*.piece {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}*/
.piece.active {
    width: 80px;
    height: 80px;
    background-color: green;
}
.piece.White.King {
    width: 72px;
    height: 72px;
    background-image: url(../assets/king_white.png);
    background-size: cover;
}

.piece.Black.King {
    width: 72px;
    height: 72px;
    background-image: url(../assets/king_black.png);
    background-size: cover;
}

.piece.White.Pawn {
    width: 72px;
    height: 72px;
    background-image: url(../assets/pawn_white.png);
    background-size: cover;
}

.piece.Black.Pawn {
    width: 72px;
    height: 72px;
    background-image: url(../assets/pawn_black.png);
    background-size: cover;
}

.piece.White.Queen {
    width: 72px;
    height: 72px;
    background-image: url(../assets/queen_white.png);
    background-size: cover;
}

.piece.Black.Queen {
    width: 72px;
    height: 72px;
    background-image: url(../assets/queen_black.png);
    background-size: cover;
}

.piece.White.Rook {
    width: 72px;
    height: 72px;
    background-image: url(../assets/rook_white.png);
    background-size: cover;
}

.piece.Black.Rook {
    width: 72px;
    height: 72px;
    background-image: url(../assets/rook_black.png);
    background-size: cover;
}

.piece.White.Knight {
    width: 72px;
    height: 72px;
    background-image: url(../assets/knight_white.png);
    background-size: cover;
}

.piece.Black.Knight {
    width: 72px;
    height: 72px;
    background-image: url(../assets/knight_black.png);
    background-size: cover;
}

.piece.White.Bishop {
    width: 72px;
    height: 72px;
    background-image: url(../assets/bishop_white.png);
    background-size: cover;
}

.piece.Black.Bishop {
    width: 72px;
    height: 72px;
    background-image: url(../assets/bishop_black.png);
    background-size: cover;
}



